/* Styles for the map interface . */

#postalCodeForm{
    position: absolute;
    bottom: 0;
    padding: 1em;
}

#postalCodeForm input[type='text']{
    max-width: 7em;
}

#mapPopup{
    padding: 0.5em;
    border: solid 1px black;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    overflow-y: auto;
    max-height: 60vh;
}

#mapPopup span[data-el='placeName']{
    font-weight: bold;
}

div.popupCloser{
    cursor: pointer;
    text-align: right;
}