/* Styles for the map interface . */

#mapContainer{
    display: flex;
    flex-direction: column;
}

div#map, div#map div{
    margin: 0;
    overflow: hidden;
}

.map {
    background: #f8f4f0;
}

#postalCodeForm{
    flex-basis: auto;
    /*position: fixed;
    bottom: 0;*/
    padding: 0;
    background-color: #ff3333;
    width: 100vw;
    box-sizing: border-box;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    max-height: 4em;
}

#postalCodeForm label {
    padding: 1em;
    color: white;
    display: inline-block;
    width: 100%;
    max-width: 50vw;
}

#postalCodeForm * {
  float: left;
  box-sizing: border-box;
}

#postalCodeForm input[type='text'], #btnPostalCode{
    max-width: 25vw;
    width: 100%;
    border: none;
    height: 100%;
    border-radius: 0px;
    font-size: 17px;
    margin: 0;
    padding: 1em;
    box-sizing: border-box;
    display: table-cell;
}
#postalCodeForm input[type='text'] {
    text-transform: uppercase;
}
#btnPostalCode{
    background: black;
    color: white;
    text-align: center;
}
#btnPostalCode span {
    width: 100%;
}
#mapPopup{
    padding: 0.5em;
    padding-right: 3em;
    border: solid 2px black;
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 1);
    text-align: left;
    overflow-y: auto;
    max-height: 60vh;
    max-width: 60vw;
    position: absolute;
    top: 5vh;
    right: 5vw;
    display: none;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
}

#mapPopup span[data-el='placeName']{
    font-weight: bold;
}

div.popupCloser{
    cursor: pointer;
    position: absolute;
    top: 0.5em;
    right: 1em;
    background: #ff4747;
    padding: 0 0.25em;
    color: white;
}

.ol-control button {
    background: black;
}