/* 
 * This stylesheet provides all the base styles for 
 * the HTML renderings of debate documents and the 
 * website surrounding them. It is copied into the 
 * output location by the ant build task.
 * 
 * All dimensions ideally in rem.
 */
 
/* Merriweather is a Google font embedded thus, in the 
 * header:
 * <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
 * */
body{
    font-family: 'Merriweather', georgia, serif;
}

/* By default, temporarily, we hide French captions etc. 
 * Need to figure out a good approach to internationalization. 
 * */
span[lang='fr']{display: none;}

/* Page title. */
h1{
    margin: 2rem 10%;
    text-align: center;
}

div.body{
    margin: 1rem 5%;
    padding: 1em;
    background-color: #f9f9f9;
    margin-left: auto;
    margin-right: auto;
    max-width: 40rem;
    /*-moz-column-width: 20rem;
    -webkit-column-width: 20rem;
    column-width: 20rem;
    -moz-column-gap: 2rem;
    -webkit-column-gap: 2rem;
    column-gap: 2rem;*/
}

div{
    margin-top: 1rem;
}

div[data-el='p']{
    text-align: justify;
}

/* We hide line-breaks and column-breaks by default. */
div[data-el='cb'], div[data-el='lb']{
    display: none;
}

div[data-el='fw'][data-type='running']{
    text-align: center;
    margin-bottom: 1em;
}

div[data-el='fw'][data-type='num']{
    text-align: center;
    font-weight: bold;
    margin-bottom: 1em;
}

*[data-el='persName']{
    text-decoration: none;
    font-weight: bold;
    color: #660000;
}

li{
    margin-top: 1em;
}

/* TEI simplePrint values are used for styling. */
.simple_italic{
    font-style: italic;
}
.simple_bold{
    font-weight: bold;
}
.simple_underline{
    text-decoration: underline;
}

/* We have our own values too. */
.tccd_blockquote{
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 0.9rem;
}

/* Popup box for displaying information from the appendix. 
 * This is only used if scripting is enabled. */
div#infoPopup {
    border: 1px solid rgb(102, 102, 102);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    display: none;
    margin-right: 0;
    max-height: 50%;
    overflow: auto;
    padding: 1.25em;
    position: fixed;
    right: 2%;
    top: 40%;
    width: 22%;
    background-color: #ffffff;
    word-wrap: break-word;
    opacity: .95;
}

div.popupCloser {
    font-size: 1.375em;
    line-height: 1;
    position: fixed;
    right: 3%;
    top: 42%;
    color:rgb(0, 66, 118);
    font-weight: bold;
    cursor: pointer;
    padding:.25em .5em;
}

div#infoContent{
    padding-right: 2em;
    line-height: 1.2;
    text-align: left;
}

footer{
    margin-top: 2rem;
    text-align: center;
    font-family: monospace;
    font-size: 0.75rem;
}